<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.lisp.ecl" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-ecl</name>
    <js-module name="cordova-ecl" src="www/cordova-ecl.js">
        <clobbers target="cordova.plugins.cordova-ecl" />
    </js-module>
</plugin>
